* {
    background-color: black;
    color: white;
}

.black {
    color: black;
}

.card {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}